body {
  background-color: #02010a;
}

/* Contenido */
.container {
  font-family: Dancing Script;
  color: white;
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: auto;
}

/* Cabecera */
#Cabecera {
  display: block;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

/* Titulo */
header  h1 {
  float: left;
  margin: 0.2em;
  text-shadow: 2px 2px #02010a;
  text-align: center;
 }

/* Menu*/
nav {
  float: right;
  margin: 0.2em;
}
nav ul {
  list-style: none;
  align-items: center;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: inline-block;
  padding: 10px;
  color: white;
  letter-spacing: 0.05em;
}
nav ul li a:active {
  text-decoration: none;
}

/* Responsive */
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

@media (max-width: 600px) {
    nav, header {
        width: 100%;
        height: auto;
    }
    h
}
