*{
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Dancing Script;
  background-color: #02010a;
  color: white;
}

@media only screen and (min-width: 601px) {
  #container {
    position: relative;
    max-width: 900px;
    margin: auto;
    clear: both;
    animation: 2s animation 1;
  }

  /* Emcabezado */
  #Cabecera {
    display: flex;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    overflow: auto;
  }
  #Cabecera header h1 {
    float: left;
    margin: 0.5em;
    vertical-align: middle;
    text-shadow: 2px 2px #02010a;
    text-align: left;
  }

  /* Menu */
  #Cabecera nav {
    position: absolute;
    top: 1.5em;
    right: 0.5em;
    overflow: hidden;
  }
  #Cabecera nav ul {
    float: right;
    align-items: left;
    list-style: none;
  }
  #Cabecera nav ul li {
    float: left;
    margin-left: 15px;
  }
  #Cabecera nav ul li a {
    display: block;
    color: white;
    letter-spacing: 0.05em;
  }
  .active {
    text-decoration: none;
  }

  /* Imagen Central */
  #imgCent {
    display: flex;
    justify-content: center;
    background-color: #82c3a6;
    width: 100%;
  }
  #imgCent img {
    margin: 2em;
    max-width: 80%;
  }

  /* Imagenes Segunadrias */
  #imgSeg {
    display: flex;
    flex-flow: column no-wrap;
    background-color: #d5c75f;
    width: 100%;
  }
  #imgSeg .paisajes, #imgSeg .retratos {
    width: 50%;
    text-align: center;
    margin: 2em;
  }
  #imgSeg img{
    border: solid 2px black;
    width: 80%;
  }

  /* Efectos de Imagen Segundaria*/
  .imgR, .imgL {
  	transition: transform 1s;
    cursor: pointer;
  	box-shadow: 2px 2px #02010a;
    -moz-box-shadow: 2px 2px #02010a;
    -webkit-box-shadow: 2px 2px #02010a;
    -ms-box-shadow: 2px 2px #02010a;
  }
  .imgR:hover{
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
  	-ms-transform: rotate(210deg);
  }
  .imgL:hover {
    transform: translate(20px, -5px);
    -moz-transform: translate(20px, -5px);
    -webkit-transform: translate(20px, -5px);
  	-ms-transform: translate(20px, -5px);
  }

  /* Pie de Página*/
  #piePagina {
    display: flex;
    flex-flow: column no-wrap;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
    width: 100%;
    font-size: 1em;
    color: black;
  }
  #contacto, #terminos, #redesSociales, #derechos {
    margin: 2em 1em;
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1em;
  }
  #piePagina div {
    width: 25%;
  }
  #piePagina div > p {
    font-size: 0.7em;
    font-weight: bold;
    color: black;
  }
  #piePagina div li {
    list-style: none;
  }
  #redesSociales img {
    width: 15%;
    display: inline-block;
  }

  /* Animación */
  @keyframes animacion {
    0% {top: 150px;}
    60% {top: -5px;}
    100% {top: 0px;}
  }
  @-moz-keyframes animacion {
    0% {top: 150px;}
    60% {top: -5px;}
    100% {top: 0px;}
  }
  @-webkit-keyframes animacion {
    0% {top: 150px;}
    60% {top: -5px;}
    100% {top: 0px;}
  }
  @-ms-keyframes animacion {
    0% {top: 150px;}
    60% {top: -5px;}
    100% {top: 0px;}
  }

  /* Media Query */
  .container {
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
  }
}
@media (max-width: 600px) {
  #container {
    position: relative;
    max-width: 100%;
    margin: auto;
    clear: both;
    animation: 2s animation 1;
    -moz-animation: 2s animation 1;
    -webkit-animation: 2s animation 1;
    -ms-animation: 2s animation 1;
  }

  /* Emcabezado */
  #Cabecera {
    display: inline-block;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: auto;

  }
  #Cabecera header h1 {
    align-content: center;
    text-shadow: 2px 2px #02010a;
    text-align: center;
  }

  /* Menu */
  #Cabecera nav {
    top: 1em;
    bottom: 1em;
    width: 100%;
    overflow: hidden;
  }
  #Cabecera nav ul {
    align-items: center;
    list-style: none;
  }
  #Cabecera nav ul li {
    float: left;
    margin-left: 15px;
  }
  #Cabecera nav ul li a {
    color: white;
    letter-spacing: 0.05em;
  }
  .active {
    text-decoration: none;
  }

  /* Imagen Central */
  #imgCent {
    display: flex;
    justify-content: center;
    background-color: #82c3a6;
    width: 100%;
  }
  #imgCent img {
    margin: 1em;
    max-width: 90%;
  }

  /* Imagenes Segunadrias */
  #imgSeg {
    display: flex;
    flex-direction: column;
    background-color: #d5c75f;
    width: 100%;
    font-weight: bold;
  }
  #imgSeg .paisajes, #imgSeg .retratos {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #imgSeg img{
    border: solid 2px black;
    width: 90%;
  }

  /* Efectos de Imagen Segundaria*/
  .imgR, .imgL {
  	transition: transform 1s;
    cursor: pointer;
  	box-shadow: 2px 2px #02010a;
    -moz-box-shadow: 2px 2px #02010a;
    -webkit-box-shadow: 2px 2px #02010a;
    -ms-box-shadow: 2px 2px #02010a;
  }
  .imgR:hover{
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
  	-ms-transform: rotate(210deg);
  }
  .imgL:hover {
    transform: translate(20px, -5px);
    -moz-transform: translate(20px, -5px);
    -webkit-transform: translate(20px, -5px);
  	-ms-transform: translate(20px, -5px);
  }

  /* Pie de Página*/
  #piePagina {
    display: flex;
    flex-direction: column;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
    width: 100%;
    font-size: 1em;
    color: black;
  }
  #contacto, #terminos, #redesSociales, #derechos {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1em;
  }
  #piePagina div {
    width: 100%;
  }
  #piePagina div > p {
    font-size: 0.7em;
    font-weight: bold;
    color: black;
  }
  #piePagina div li {
    list-style: none;
  }
  #redesSociales img {
    width: 5%;
    display: inline-block;
  }

  /* Animación */
  @keyframes animacion {
    0% {margin-top: 150px;}
    60% {margin-top: -5px;}
    100% {margin-top: 0px;}
  }
  @-moz-keyframes animacion {
    0% {margin-top: 150px;}
    60% {margin-top: -5px;}
    100% {margin-top: 0px;}
  }
  @-webkit-keyframes animacion {
    0% {margin-top: 150px;}
    60% {margin-top: -5px;}
    100% {margin-top: 0px;}
  }
  @-ms-keyframes animacion {
    0% {margin-top: 150px;}
    60% {margin-top: -5px;}
    100% {margin-top: 0px;}
  }
}
